<div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            @RenderSection("headModal",required: true)
        </div>
        <div class="modal-body">
            @RenderSection("bodyModal", required: true)
        </div>
        <div class="modal-footer">
            @RenderSection("footerModal", required: true)
        </div>
    </div>

</div>
